node_modules
.history
era-ci.log
compiled-era-ci.config.js
compiled-task-worker.config.js
*.log
.eslintcache
compiled-era-ci-*
.clinic
**/src/**/*.js
**/src/**/*.d.ts
**/__tests__/**/*.js
lib1.js
*.d.ts
!declarations.d.ts
!dist/monorepo-docker-build-helper.js